In [1]:
import pandas as pd

EXTRACT DATA FROM DATABASE

In [2]:
import pyodbc

In [3]:
server = 'DESKTOP-LORG5OV'
database = 'Agence_Urbaine'
username = ''
password = ''
driver = '{SQL Server}' # change the driver name if needed
cnxn = pyodbc.connect(f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}")

In [4]:
budget_exploitation = pd.read_sql('select * from Budget_Exploitation',cnxn)

C:\Users\tioua\AppData\Local\Temp\ipykernel_5084\793879270.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  budget_exploitation = pd.read_sql('select * from Budget_Exploitation',cnxn)

In [5]:
budget_exploitation

,COMPTES_N,INTITULEES_DES_COMPTES,CREDIT_OUVERT,ENGAGEMENT,DISPONIBLE_ENGAGEMENT,PAIEMENT,RESTE_A_PAYER,CHAPITRE,ANNEE
0,61223,Achat de combustibles,250000.0,250000.00,0.00,250000.0,0.00,Achats de matières et de fournitures consommables,2017-12-31
1,612211,Achat de fournitures de bureau,122530.0,122529.70,0.30,0.0,122529.70,Achats de matières et de fournitures consommables,2017-12-31
2,612212,Fourniture pour matériel technique et informat...,8345.0,8344.44,0.56,0.0,8344.44,Achats de matières et de fournitures consommables,2017-12-31
3,612213,Fourniture de produits d'impression de reprodu...,129125.0,128829.30,295.70,0.0,128829.30,Achats de matières et de fournitures consommables,2017-12-31
4,61263,Prestations d'impression et reproduction photo...,120000.0,120000.00,0.00,0.0,120000.00,Prestations de services,2017-12-31
...,...,...,...,...,...,...,...,...,...
233,61611,Dépenses liées aux impots et taxes directs,240000.0,237134.30,2865.70,237134.3,0.00,Impots et taxes,2022-12-31
234,61673,Taxe spéciale annuelle sur les véhicules autom...,13150.0,13150.00,0.00,13150.0,0.00,Impots et taxes,2022-12-31
235,61441,"Annonces,Abonnements,insertions,accés base de ...",29500.0,23400.00,6100.00,4800.0,18600.00,"Publicité,publications et relations publiques",2022-12-31
236,61444,Publicité et communication,70500.0,70008.00,492.00,70008.0,0.00,"Publicité,publications et relations publiques",2022-12-31
237,61448,"Infogérance,siteweb,assistance et numérisation",50000.0,50000.00,0.00,0.0,50000.00,"Publicité,publications et relations publiques",2022-12-31

In [6]:
budget_investissement = pd.read_sql('select * from Budget_Investissement',cnxn)

C:\Users\tioua\AppData\Local\Temp\ipykernel_5084\2198312611.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  budget_investissement = pd.read_sql('select * from Budget_Investissement',cnxn)

In [7]:
ex1 = budget_investissement[budget_investissement['ANNEE'].isin(['2021-12-31','2020-12-31','2019-12-31','2018-12-31'])].sample(n=5)

In [8]:
ex2 = budget_exploitation[budget_exploitation['ANNEE'].isin(['2021-12-31','2020-12-31','2019-12-31','2018-12-31'])].sample(n=5)

In [73]:
p = pd.DataFrame(budget_investissement.groupby(by=['ANNEE'])['ENGAGEMENTS'].sum())

In [74]:
p.reset_index(inplace=True)

In [42]:
for i in range(len(p)):
    print(p.iloc[i]['ANNEE'])

2017-12-31 00:00:00
2018-12-31 00:00:00
2019-12-31 00:00:00
2020-12-31 00:00:00
2021-12-31 00:00:00
2022-12-31 00:00:00

In [77]:
progress = []
for i in range(len(p)):
    if i==0 :
        progress.append((p.iloc[i]['ANNEE'],p.iloc[i]['ENGAGEMENTS']))
    else :
        if p.iloc[i]['ENGAGEMENTS'] < p.iloc[i-1]['ENGAGEMENTS']:
            progress.append((p.iloc[i]['ANNEE'],-(p.iloc[i]['ENGAGEMENTS'])))
        else:
            progress.append((p.iloc[i]['ANNEE'],p.iloc[i]['ENGAGEMENTS']))

In [80]:
progress = dict(progress)

In [81]:
progress = pd.DataFrame({'ANNEE':progress.keys(),'PROGRESS':progress.values()})

In [82]:
progress

       ANNEE    PROGRESS
0 2017-12-31  1927951.60
1 2018-12-31  2512974.96
2 2019-12-31  3358883.60
3 2020-12-31 -2468179.00
4 2021-12-31  -746343.60
5 2022-12-31  2913370.00